[test] 
url = http://10.127.48.5:8000/api
username = xxxxxx
password = yyyyyy
machine = ln3

[manager]
mail_host = smtp.126.com
mail_user = xxxx@126.com
mail_pass = xxxx
mail_recivers = xxxxx@nscc-gz.cn xxxx@126.com
conf_email = False
conf_email_level = WARNNING
conf_restart =  False
conf_test = discover

